<nav class="navbar navbar-inverse navbar-embossed navbar-fixed-top" role="navigation">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-01">
                <span class="sr-only">Toggle navigation</span>
              </button>
          <a class="navbar-brand  hidden-xs" href="{{ site.baseurl }}/"><img  style="width: 150px; height: 32px;" alt="150x32" data-src="holder.js/150x32" src="/img/wmlogo.png"/></a>
          <a class="navbar-brand  visible-xs-block" href="{{ site.baseurl }}/">{{ site.title }}</a>
            </div>
            <div class="collapse navbar-collapse" id="navbar-collapse-01">
              <ul class="nav navbar-nav navbar-left">
              <li><a href="/">首页</a></li>
              {%if page.title == '项目' or page.title == '已完成项目' or page.title == '正在进行的项目' %}
              <li class="active"><a href="/Projects">项目</a></li>
              {% else %}
              <li><a href="/Projects">项目</a></li>
              {% endif %}
              {%if page.title == '关于' %}
              <li class="active"><a href="/About">关于</a></li>
              {% else %}
              <li><a href="/About">关于</a></li>
              {% endif %}
                  </ul>
                </li>
               </ul>
            </div><!-- /.navbar-collapse -->
          </nav>