<div class="col-sm-9 col-md-9 main">
 <header class="post-header">
  <h3 class="post-title">{{ page.title }}</h3>
  <p class="post-meta">{{ page.date | date: "%Y年%m月%d日" }}{% if page.author %}　编辑：{{ page.author }}{% endif %}{% if page.author == "Sanae酱" %}  <a class="btn btn-success btn-xs">汉化组主管</a>{% endif %}{% if page.author == "Clans" %}  <a class="btn btn-success btn-xs">汉化组程序员</a>{% endif %}{% if page.author == "砕月" %}  <a class="btn btn-success btn-xs">汉化组官网管理</a>{% endif %}{% if page.meta %}　{{ page.meta }}{% endif %}</p>
 </header>
 <br>
 {% include duoshuo.html %}
</div>