        <div class="col-sm-3 col-sm-offset-9 col-md-3 col-md-offset-9 sidebar">
{% for tip in site.topic %}
<div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title smallfont">{{ tip.title }}</h3>
      </div>
      <div class="panel-body smallfont">
        {{ tip.text }}
      </div>
    </div>
{% endfor %}
<div class="panel panel-success">
      <div class="panel-heading">
        <h3 class="panel-title smallfont">{{ site.string.topic2 }}</h3>
      </div>
      <div class="panel-body">
      {% for tip in site.topic2 %}
      <div class="alert alert-success smallfont">
        <a href="{{ tip.text }}">{{ tip.title }}</a><br>
        </div>
        {% endfor %}
      </div>
    </div>
        </div>