---
layout: default
---
<h4>汉化库里存在{{ site.projectnum }}个项目</h4>
{% for pro in site.projects %}
 <div class="jumbotron"> 
   <div class="container"> 
    <div class="row"> 
     <div class="col-md-3"> 
      <div class="thumbnail"> 
       <img style="width: 300px; height: 200px;" alt="300x200" src="{{ pro.logo }}" data-src="holder.js/300x200" /> 
      </div> 
     </div> 
     <div class="col-md-6"> 
      <div class="caption"> 
       <h5>{{ pro.title }}</h5> 
       <p>类型：<a class="btn btn-info btn-xs">{{ pro.type }}</a></p> 
       <p>版本：<a class="btn btn-success btn-xs">{{ pro.ver }}</a></p> 
       <p>日期：<a class="btn btn-success btn-xs">{{ pro.time }}</a></p> 
      </div> 
     </div> 
     <div class="col-md-3"> 
     <br>
     <br>
      <p>汉化进度：</p> 
      <div class="progress  progress-striped"> 
       <div class="progress-bar progress-bar-success" style="width: {{ pro.jindu }};">{{ pro.setback }}</div>  
      </div> 
       <a class="btn btn-primary" href="{{ pro.page }}">点击进入项目页</a>
     </div> 
    </div> 
   </div>
  </div>
{% endfor %}